/* H5对象样式 */
html,body{
	margin:0;
	padding:0;
}
.H5{
	height:100%;
}
.H5_page{
	position:relative;
	height:100%;
	width:100%;
	background-color:#ddd;
	background-size:100%;
	background-repeat:no-repeat;
}